body {
    padding: 20px;
    background-color: #262520;
    height: 100%;
    width: 100%;
}
#search-form, .form-control {
    margin-bottom: 20px;
}

.result {
    float: left;
}

.cover {
    width: 300px;
    height: 300px;
    margin: 20px 20px 20px 0px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 2px solid #abd8ab;
}

.album-name {
    position: relative;
    bottom: 20px;
    color: #abd8ab;
}

.nav {
	background-color: #262520;
	color: #ffffff;
}
.search-form {
	color: #abd8ab;
    margin-top: 50px;
}

.search-button {
	background-color: #abd8ab;
	color: #545147;
	border: none;
    margin-top: 10px;
}
.search-button:hover {
	background-color: #c0eac1;
	color: #545147;
}

.search-input {
    border: none;
    width: 90%;
}

.spotify {
    margin-top: 90px;
    color:  #abd8ab;
    text-align: right;
}

.spotify-img {
    width: 25px;
    height: auto;
    position: relative;
    bottom: 2px;
}